* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: #e7f6f2;
}
.title {
  color: #e98a8a;
  padding: 0.5rem;
  text-decoration: none;
  font-weight: 600;
  font-size: x-large;
}

.navbar {
  background-color: #414141;
  padding: 1rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  margin: 0;
}

.navbar > div {
  /* içeriği ortalamak için bir container ekledik */
  width: 1200px; /* Maksimum genişlik ayarı - istediğiniz bir değeri kullanabilirsiniz */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 10px; /* Menü maddeleri arasında boşluk */
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  transition: color 0.3s ease;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #5a5a5a;
}

.placeholder {
  min-height: 400px;
}

.image-content img {
  width: 50vw; /* Resmin bölümün genişliğini aşmamasını sağlar */
  height: auto;
  border-radius: 5px;
}

.content-wrapper {
  display: grid;
  grid-template-columns: 2fr 1.5fr; /* İlk bölüm (metin) için mevcut alanın tamamını kullan, ikinci bölüm (resim) için 300px genişlik belirle */
  gap: 40px; /* İki bölüm arasındaki boşluğu ayarlar */
}

.text-content {
  padding-top: 3rem;
  padding-left: 2rem;
  justify-content: center;
  vertical-align: middle;
}

.text-content h1 {
  color: #e16e6e;
  font-size: 2.5rem;
  margin-top: 2rem;
}

.text-content p {
  font-size: 1rem;
  margin-top: 2rem;
}

.button {
  background-color: #414141;
  padding: 1.5rem;
  width: 7rem;
  border-radius: 10px;
}

.button a {
  text-decoration: none;
  color: white;
}

.placeholder {
  margin: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 eşit genişlikte sütun oluştur */
  gap: 30px; /* Bloklar arasında 20px boşluk bırak */
}

.placeholder div {
  background-color: #c0c0c0; /* Hafif gri bir arka plan rengi */
  padding: 2rem; /* İçerik ve blok kenarı arasında 20px boşluk */
  border-radius: 5px; /* Blokların köşelerini yumuşat */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Hafif bir gölge ekleyerek derinlik kat */
}

.placeholder div h6 {
  color: #e16e6e;
  font-size: larger;
  margin-bottom: 2rem;
}
main {
  margin: 20px;
}

.tittel4 {
  color: rgb(94, 16, 16);
  padding: 1%;
  text-decoration: none;
  font-variant: small-caps;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
}
article {
  text-indent: 6px;
  text-align: justify;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #6ccdcf6b;
  padding: 20px;
  border: 1px solid #ddd;
}
.images1 {
  max-width: 100%;
  margin: 20px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4 6px rgba(0, 0, 0, 0.3);
}

footer {
  padding: 2rem;
  background-color: #9dd7d86b;
  text-align: center;
}
