/*
We followed the rules for responsive layout. 4 different styles are applied with following width breaks.
max-width 576 => For small screens such as mobile phones. We created a Hamburger menu for this size.
max-width 768 => Small screens such as tablet PCs.
max-width 992 => Mid size screens.
greater than 992 => This is the default CSS.

*/

/* We define the common variables */
:root {
  --main-padding: 15vw;
  --dark-teal: #023535;
  --semi-dark-teal: #015958;
  --mid-teal: #008f8c;
  --light-teal: #c7ffed;
  --white-color: #fff;
}

/* Global CSS adjustments */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

p {
  line-height: 2rem;
}

/* Flexbox setup for navbar: aligns items horizontally, centers vertically, and justifies content to the right */
.navbar {
  padding: 1rem var(--main-padding);
  background-color: var(--dark-teal);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
}

/* Transitions sets the animation between normal vs hovered */
.navbar li a {
  display: block;
  color: var(--white-color);
  text-align: center;
  padding: 12px 16px;
  transition: background-color 0.3s ease-in-out;
  transition: border-radius 0.7s ease;
  transition: color 0.8s ease;
  text-decoration: none;
}

/* Hovering with mouse would change background color and border */
.navbar li a:hover {
  background-color: var(--semi-dark-teal);
  border-radius: 20px;
}

/* Styling for the title inside the navbar.*/
.title {
  color: var(--white-color);
  text-decoration: none;
  font-weight: 600;
  font-size: x-large;
}

/* Comprehensive styling for a responsive hamburger menu.*/

/* Style for the title container. This is the first element of the 
flex container we prevent its growing, but let it shrink. */
#hamburger {
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
}

/* Hides the checkbox for the burger menu*/
#burger-menu-toggle {
  display: none;
}

/* Moves the first bar up by 4 pixels to increase the distance between bars*/
#bar1 {
  transform: translateY(-4px);
}

/* Moves the bar up by 4 pixels to increase the distance between bars */
#bar3 {
  transform: translateY(4px);
}

/* When the burger menu is checked we change the color of the bars to white 
as we will have red backgrousn and we hide the second bar thorugh setting opacity   */

#burger-menu-toggle:checked + div label .bar {
  background-color: var(--white-color);
}

/* gerekli mi ??? */
#burger-menu-toggle:checked + div label #bar2 {
  opacity: 0;
}

/* We move first bar 4px down in Y axes and rotate it 45 degrees counter clockwise */
#burger-menu-toggle:checked + div label #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}
/* We move third bar 6px up in Y axes and rotate it 45 degrees clockwise */
#burger-menu-toggle:checked + div label #bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}

#burger-menu-toggle:checked ~ .menu {
  display: block;
  width: 10em;
}

/* We set the height of the menu items to make them visible, 
in unchecked state they were set to 0 to hide them, see below*/
#burger-menu-toggle:checked ~ .menu li {
  height: 50px;
  width: auto;
}

/* This is the background for the menu. We set its height in pixels 
based on the number of list elements in the menu 4 X 50  + height of title 
translate states how much it should move in in X an Y directions
In X direction -50 px would move it to top as our navbar height is 100px
In Y direction it depends on the main padding + half width of the bars + 
plus some extra to hide the left corners
*/
#burger-menu-toggle:checked ~ .menu-bg {
  width: 17em;
  height: 300px;
  transform: translate(calc(-1 * var(--main-padding) - 1.5em - 50px), -50px);
  z-index: -3;
}

/*Generel styles for home page, campus page and accessibility page */

/* Main layout structure for the content; using grid for flexible layouts */
.content-wrapper {
  margin-left: 3rem;
  display: grid;
  grid-template-columns: 2fr 2fr; /* Larger space for text, smaller for images */
  gap: 40px; /* Spacing between grid items */
}

/* Main layout structure for the campus page*/
.content-wrapper-campus {
  width: auto;
  margin-left: 3rem;
}

.text-content {
  margin-right: 2rem;
}

/* Header styles within the text content area */
.text-content h1 {
  color: var(--semi-dark-teal);
  font-size: 2.5rem;
  margin-top: 2rem;
}

/* Paragraph styles within the text content area */
.text-content p {
  font-size: 1rem;
  margin-top: 2rem;
  min-width: 300px;
}

/* Home page image styling */

.home-image {
  width: 800px;
  height: auto;
}
/* Button styling */
.home-button {
  background-color: var(--semi-dark-teal);
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
}

/* Hover styling for button */
.home-button:hover {
  opacity: 0.8;
}

/* Link styling within the button */
.home-button a {
  text-decoration: none;
  color: var(--white-color);
}

.accessibility-header {
  text-align: center;
  color: var(--semi-dark-teal);
  margin: 2rem;
}

.accessibility-image {
  width: 500px;
  height: 250px;
}

/*Info section styles*/

.image-content {
  display: flex;
  flex-direction: column;
  margin-right: 1em;
  max-width: 50vw; /* Make the image half of the view */
  float: left; /* It should float on left so we will have text on the right*/
  box-sizing: border-box; /* Include padding and border in max-width calculation */
  padding-bottom: 0.5em;
}

.image-content > picture > img {
  max-width: 100%;
  height: auto;
}

/* Section for additional information with a grid layout */
.info-section {
  min-height: 400px;
  margin: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns of equal width */
  gap: 30px;
}

/* Header styles within the info sections */
.info-section h2 {
  margin-bottom: 2rem;
  color: var(--semi-dark-teal);
}

/* Article styles within the info section  .info-section article*/
.info-section article {
  background-color: var(--light-teal);
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth and emphasis */
}

/* Topical page styles */
/* General styles */
.container {
  max-width: 1200px;
  margin: 2rem auto;
}

/* Hero section styles */
.hero {
  background-color: #c5e898;
  background-color: #c5e898;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  text-align: justify;
  border-radius: 10px;
}

/* Hero title */
.hero h1 {
  color: #0766ad;
}

/* Hero image */
.hero img {
  width: 100%;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

/* Hero text section */
.section-text {
  flex: 1.9;
}
/* Hero visual section */
.section-img {
  flex: 1;
}

/* Button styles */
.button2 {
  background-color: #0766ad;
  background-color: #0766ad;
  cursor: pointer;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  margin-top: 1rem;
}

/* Button hover styles */
.button2:hover {
  opacity: 0.8;
}

/* Button link styles */
.button2 a {
  text-decoration: none;
  font-weight: 500;
  color: var(--white-color);
}

/* Main content cards */
.card {
  display: flex;
  align-items: center;
  border: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  padding: 1rem;
  gap: 1rem;
  margin: 2rem 0;
  flex: 1;
}

/* Card headers */
.card h2,
h3,
h4,
h5 {
  color: #dc052c;
  line-height: 3rem;
}
/* Card content general */
.card article {
  width: 50%;
}

/*external link styles */
.external-link {
  color: green;
  text-decoration: none;
}
/* Card image */
.card img {
  width: 100%;
  border-radius: 5px;
}
.card figure {
  width: 50%;
}

/* Image description */
figcaption {
  padding: 0.5rem;
  font-style: italic;
}

/* It targets the cards in even rows of cards on the page and applies a special order to them. */
.card:nth-child(even) {
  flex-direction: row-reverse;
}

/* Styling for the footer */
footer {
  margin-top: 10px;
  padding: 2rem var(--main-padding);
  background-color: var(--mid-teal);
  text-align: center;
}

/* Media Query Controls */

/* At mobile phone size, we decrease the padding for the body further, and ilet the aside have full width*/
@media (max-width: 576px) {
  /*  When the screen is smaller we have a higher navbar we need to have more padding for main view */
  .container,
  .accessibility-header,
  main {
    padding-top: 5rem;
  }

  /* Navbar and Hamburger Menu styles */
  /* We got the idea of Hamburger from the lecture slides and
  from following web page. But the Hamburger menu in here was using Javascript
  We removed the JS dependency and controlled style behaviour via CSS
  https://alvarotrigo.com/blog/hamburger-menu-css/
  */

  /* We change flex style to column, and move and align elements to top left 
  Bring it to in front of the body section by setting Z index
  */
  .navbar {
    z-index: 1;
    height: 100px;
    width: 100vw;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    top: 0;
    left: 0;
    position: absolute;
  }

  #hamburger {
    display: flex;
    align-items: center;
  }

  /* Settings for the horizantal lines for Hamburger Menu */
  #hamburger-lines {
    align-content: center;
    display: grid;
    width: 45px;
    height: 40px;
    margin-right: 20px;
    cursor: pointer;
  }

  /* Bar styles */
  .bar {
    height: 5px;
    width: 3em;
    background-color: #dc052d;
    border-radius: 5px;
    transition-timing-function: ease; /* Transition timing, in terms of change inthe animation speed during animation*/
    transition-duration: 0.3s; /* Transition  duration for animation */
    margin-bottom: 0.2em;
  }

  /* When the screen is small we want "OsloMet Campus" title to be double line */
  .title {
    width: 100px;
    display: grid;
  }

  /* Menu and Menu Items */

  /* We hide the menu when hamburger menu is not active*/
  .menu {
    transition: 0.3s ease;
    float: right;
  }

  /* We hide the menu items when hamburger menu is not active*/
  .menu li {
    list-style: none;
    padding: 4px 0;
    height: 0px;
    overflow: hidden;
  }

  .menu li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
  }

  .menu li a:hover {
    background-color: rgba(240, 13, 13, 0.2);
    border-radius: 20px;
    font-weight: bold;
    color: white;
  }

  /* Styles of the red menu background
  It is hidden in the begining but still its location was set to
  exact location of the center of hamburger lines to ensure that during animation
  it gives an effect as if it is coming from there. That location is calculated based on 
  height of navbar/2 = 50px and in X axes, main padding + 1.5em (length of the bars/2) 
  for the glossy effect we got the idea from 
  https://dev.to/chinmaymhatre/create-a-glass-ui-using-only-two-css-properties-3k9h
  */

  .menu-bg {
    top: 50px;
    left: calc(var(--main-padding) + 1.5em);
    z-index: 1;
    width: 0;
    height: 0;
    background-color: #dc052d;
    border-radius: 20%;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    position: absolute;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  }
}

/* For smaller screens we further decrease the padding for the body, and increase the width for aside*/
@media (max-width: 768px) {
  :root {
    --main-padding: 8vw;
  }

  /*Generel pages sytles*/

  .hero {
    flex-direction: column;
  }
  .image-content {
    flex-direction: column;
  }

  .card {
    flex-direction: column;
  }

  .card:nth-child(even) {
    flex-direction: column;
  }

  .content-wrapper {
    grid-template-columns: 1fr; /* Use only one column */
  }

  .image-content img {
    width: 100%; /* Make the image full width */
  }

  .info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .info-section > div {
    margin-bottom: 20px; /* Adds some space between each section */
  }

  /*Topical page style*/
  .hero {
    flex-direction: column;
  }

  .card {
    flex-direction: column;
  }
}

/* For smaller screens we decrease the padding for the body, and increase the width for aside*/
@media (max-width: 992px) {
  /* Adjust the main padding for the root element */
  :root {
    --main-padding: 12vw;
  }

  /* Style adjustments for .card elements */
  .card {
    flex-direction: column;
    width: 100%;
  }

  /* Style adjustments for article elements inside .card */
  .card article {
    width: 100%;
  }

  /* Style adjustments for figure elements inside .card */
  .card figure {
    width: 100%;
  }

  /* Style adjustments for img elements inside .card */
  .card img {
    max-height: 500px;
  }

  .home-image {
    width: 100%;
    height: auto;
  }

  .accessibility-image {
    width: 100%;
    height: auto;
  }

  /* when the screen is small we waould like to remove margins so it would be full screen*/
  .image-content {
    display: flex;
    flex-direction: column;
    margin-right: 0;
    max-width: 100vw; /* Make the image half of the view */
    float: left; /* It should float on left so we will have text on the right*/
    box-sizing: border-box; /* Include padding and border in max-width calculation */
    padding-bottom: 0.5em;
  }

  .content-wrapper-campus {
    margin-left: 0px; /* In small screens we want to remove 
      the margin from left so image will be full screen */
  }

  .text-content {
    margin-left: 1em;
    margin-right: 1em;
    padding-top: 0;
  }

  /* Side Info */
  .side-info {
    float: none;
    width: auto;
    margin-left: 0;
    margin-top: 1em;
  }

  .content-wrapper {
    grid-template-columns: 1fr; /* Use only one column */
  }

  .image-content img {
    width: 100%; /* Make the image full width */
  }

  .info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .info-section > div {
    margin-bottom: 20px; /* Adds some space between each section */
  }
}
