.mainview{
    margin-left:15%;
    margin-right:15%;
    width: 70%;
    background-color: rgb(163, 210, 204);
}

.text-reference{
    background-color: antiquewhite;
    
}

.images{
    width: 100%;
    object-fit: cover;
}