:root {
  --main-padding: 15%;
  --dark-color: #023535;
  --header-color: #015958;
  --button-color: #008f8c;
  --light-color: #c7ffed;
  --white-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: var(--white-color);
}
.title {
  color: var(--white-color);
  padding: 0.5rem;
  text-decoration: none;
  font-weight: 600;
  font-size: x-large;
}

.navbar {
  padding: 1rem var(--main-padding);
  background-color: var(--dark-color);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  margin: 0;
}

.navbar > div {
  /* içeriği ortalamak için bir container ekledik */
  /*  width: 1200px; Maksimum genişlik ayarı - istediğiniz bir değeri kullanabilirsiniz */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 10px; /* Menü maddeleri arasında boşluk */
}

.navbar li a {
  display: block;
  color: var(--white-color);
  text-align: center;
  padding: 14px 16px;
  transition: color 0.3s ease, background-color 0.3s ease-in-out;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: var(--header-color);
}

.placeholder {
  min-height: 400px;
}

.image-content img {
  width: 50vw; /* Resmin bölümün genişliğini aşmamasını sağlar */
  height: auto;
  border-radius: 5px;
}

.content-wrapper {
  display: grid;
  grid-template-columns: 2fr 1.5fr; /* İlk bölüm (metin) için mevcut alanın tamamını kullan, ikinci bölüm (resim) için 300px genişlik belirle */
  gap: 40px; /* İki bölüm arasındaki boşluğu ayarlar */
}

.text-content {
  padding-top: 3rem;
  padding-left: 2rem;
  justify-content: center;
  vertical-align: middle;
}

.text-content h1 {
  color: var(--header-color);
  font-size: 2.5rem;
  margin-top: 2rem;
}

.text-content p {
  font-size: 1rem;
  margin-top: 2rem;
}

.button {
  background-color: var(--button-color);
  padding: 1.5rem;
  width: 7rem;
  border-radius: 10px;
}

.button a {
  text-decoration: none;
  color: white;
}

.placeholder {
  margin: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 eşit genişlikte sütun oluştur */
  gap: 30px; /* Bloklar arasında 20px boşluk bırak */
}

.placeholder div {
  background-color: var(--light-color); /* Hafif gri bir arka plan rengi */
  padding: 2rem; /* İçerik ve blok kenarı arasında 20px boşluk */
  border-radius: 5px; /* Blokların köşelerini yumuşat */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Hafif bir gölge ekleyerek derinlik kat */
}

.placeholder div h6 {
  color: var(--header-color);
  font-size: larger;
  margin-bottom: 2rem;
}
main {
  /*margin: 20px;*/
}

footer {
  margin-top: 10px;
  padding: 2rem var(--main-padding);
  background-color: var(--button-color);
  text-align: center;
}

/* CSS FROM IMRAN */
.mainview {
  margin-left: var(--main-padding);
  margin-right: var(--main-padding);
  width: calc(100% - 2 * var(--main-padding));
  background-color: var(--light-color);
}

.text-reference {
  background-color: antiquewhite;
}

.images {
  width: 100%;
  object-fit: cover;
}

/* From Bahar */
.container {
  max-width: 1200px;
  margin: 2rem auto;
}

header.hero {
  background-color: aliceblue;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  text-align: justify;
}

header.hero h1,
p {
  line-height: 2rem;
}

header.hero img {
  width: 100%;
  min-width: 300px;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}
header.hero .section-text {
  flex: 1.9;
}

header.hero .section-img {
  flex: 1;
}

.button2 {
  background-color: var(--button-color);
  color: white;
  cursor: pointer;
  opacity: 0.9;
  padding: 0.3rem;
  border-radius: 5px;
}
main .card {
  display: flex;
  align-items: center;
  border: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  padding: 1rem;
  gap: 1rem;
  margin: 2rem 0;
}

main .card article {
  flex: 1;
}

main .card img {
  width: 100%;
  border-radius: 5px;
}
figcaption {
  font-style: italic;
  font-size: x-small;
}
main .card:nth-child(even) {
  flex-direction: row-reverse;
}

/* These rules come into play when the screen width is less than 700 pixels.
*/

@media screen and (max-width: 700px) {
  header.hero {
    flex-direction: column;
  }

  main .card {
    flex-direction: column;
  }

  main .card:nth-child(even) {
    flex-direction: column;
  }
}

main .Accessibility-topical {
  display: flex;
  align-items: center;
  border: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  padding: 1rem;
  gap: 1rem;
  margin: 2rem 0;
}

.Accessibility-topical img {
  width: 600px;
}
